{% extends "navigator.html" %}
{% block form %} 
<form >
    <label for="buscar">Código :</label>
    <input type="text" id="buscar" name="codigo" placeholder="Codigo de Estudiante" maxlength="6">
    <button type="button" class="btn btn-secondary btn-sm">Buscar</button>
</form>
<br>
<div style="background-color: rgb(59, 112, 192); text-align: center; color: #fff;">
<label >Información del Estudiante</label>
</div>
<br>
<div class="table-responsive">
 <table class="table table-sm" >
    <thead class="thead-dark">
        
            <th>Código</th>
            <th>Nombre</th>
            <th>Retroalimentación</th>
            <th>Nota</th>
            <th>asignatura</th>
    </thead>
    
    <tr>
         <td>000001</td>
         <td>Carlos Aguirre</td>
         <td>Falta Compromiso</td>
         <td>3.0</td>
         <td>Desarrollo de Software</td>
    </tr>
</table>
 </div>
 <div style="margin-top: 30px;" class="col-6-md">
    <button type="button" class="btn btn-secondary btn-sm">Editar Estudiante</button>
    <button type="button" class="btn btn-secondary btn-sm">Editar Calificación</button>
 </div>

{% endblock %}