{% extends "navigator.html" %}
{% block form %} 
<form action="/actividad/registrar" method="post" name="registrar_actividad" id="registrar_actividad" target="_self">
    {{ frm.hidden_tag() }}
    <input type="hidden" name="comercioMultiproducto" id="comercioMultiproducto" value="<?= $comercioMultiproducto ?>">
    <div align="center" id="interlocutorform">
        <div align="right">
            <div
                class="color_barra_titulos_marca<?php echo $marca; ?> color_titulos_marca<?php echo $marca; ?> pr_titulos">
                
            </div>
            <table class="tabla_main" width="670" id="AutoNumber3">
                <tbody><tr>
                    <td width="667" align="center" valign="top" bgcolor="#e2e2e2">
                        <div align="right">
                            <center>
                                <table width="700px" id="AutoNumber4"> <!--Este valor estaba en 815px anteriormente-->
                                    <tbody><tr class="color_borde_marca1">
                                        <td colspan="4">
                                            <table width="50%" style="margin-bottom: 5px;" class="logosProductosComisionFija">
                                                <tbody><tr class="linea_gris">
                                                    <td colspan="8">
                                                    </td>
                                                </tr>
                                                <tr class="linea_gris">
                                                    <td colspan="8" style="padding: 2px; font-weight: 700; text-align: left;">
                                                        Todos los campos con <span class="requerido">*</span> son obligatorios
                                                    </td>
                                                </tr>
                                                <tr class="linea_blanca">
                                                    <td>
                                                        {{ frm.nombre_actividad.label }} <span class="requerido">*</span>
                                                    </td>
                                                    <td style="width:34%">
                                                        {{ frm.nombre_actividad }}

                                                        {% for errors in frm.nombre_actividad.errors %}
                                                            <div>{{ error }}</div>
                                                        {% endfor %}
                                                        <!-- <input size="50" name="Nombre_Actidad" id="Nombre_Actidad" type="text" value="" class="campoFormulario" maxlength="80" autocomplete="off"> -->
                                                    </td>
                                                </tr>
                                                <tr class="linea_gris">
                                                    <td>
                                                        {{ frm.id_actividad.label }}
                                                    </td>
                                                    <td>
                                                        {{ frm.id_actividad }}
                                                        
                                                        {% for errors in frm.id_actividad.errors %}
                                                            <div>{{ error }}</div>
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                                <tr class="linea_blanca">
                                                    <td style="width:10%">
                                                        {{ frm.id_asignatura_fk.label }}<span class="requerido">*</span>
                                                    </td> 
                                                    <td style="width:40%">
                                                        {{ frm.id_asignatura_fk }}

                                                        {% for errors in frm.id_asignatura_fk.errors %}
                                                            <div>{{ error }}</div>
                                                        {% endfor %}
                                                        <!-- <select name="interlocutor[asignatura]" type="text" id="asignatura" value="" class="campoFormulario" maxlength="49" autocomplete="off">
                                                            <option value="1">-FU-Fundamentos de Programación</option>
                                                            <option value="2" selected="">-PB-Programacion Basica</option>
                                                            <option value="3" selected="">-DS-Desarrollo de Software</option> -->
                                                    </td>
                                                </tr>
                                                    <td colspan="2" rowspan="5" id="textObservacion">
                                                        <table class="center_text" width="100%" border="0">
                                                            <tbody><tr>
                                                                <th scope="row">{{ frm.instrucciones_actividad.label }}

                                                                </th>
                                                                <th>{{ frm.fecha_actividad.label }} <br><input type="datetime-local"></th> <!--type="datetime-local"-->
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">
                                                                    {{ frm.instrucciones_actividad }}
                                                                
                                                                    {% for errors in frm.instrucciones_actividad.errors %}
                                                                        <div>{{ error }}</div>
                                                                    {% endfor %}

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width:16%;">
                                                                    {{ frm.tipo_actividad.label }}
                                                                
                                                                    {{ frm.tipo_actividad }}    
                    
                                                                    {% for errors in frm.tipo_actividad.errors %}
                                                                        <div>{{ error }}</div>
                                                                    {% endfor %}
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                                <td width="136">
                                                    {{ frm.registrar_actividad(href="javascript:void(0)", class="btn btn-primary") }} 
                                                </td>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                             </tbody>
                         </table>
                        </center>
                    </div>
                   </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</form>
{% for msg in get_flashed_messages() %}
<div>
    {{ msg }}
</div>
{% endfor %}

{% endblock %} 