{% extends "navigator.html" %}
{% block form %} 
<form action="?opcion=interlocutor&a=guardar" method="post" name="form_interlocutor" id="form_interlocutor" target="_self">
    <input type="hidden" name="comercioMultiproducto" id="comercioMultiproducto" value="<?= $comercioMultiproducto ?>">
    <div align="center" id="interlocutorform">
        <div align="right">
            <div
                class="color_barra_titulos_marca<?php echo $marca; ?> color_titulos_marca<?php echo $marca; ?> pr_titulos">
                
            </div>
            <table class="tabla_main" width="670" id="AutoNumber3">
                <tbody><tr>
                    <td width="667" align="center" valign="top" bgcolor="#e2e2e2">
                        <div align="right">
                            <center>
                                <table width="700px" id="AutoNumber4"> <!--Este valor estaba en 815px anteriormente-->
                                    <tbody><tr class="color_borde_marca1">
                                        <td colspan="4">
                                            <table width="50%" style="margin-bottom: 5px;" class="logosProductosComisionFija">
                                                <tbody><tr class="linea_gris">
                                                    <td colspan="8">
                                                    </td>
                                                </tr>
                                                <tr class="linea_gris">
                                                    <td colspan="8" style="padding: 2px; font-weight: 700; text-align: left;">
                                                        Todos los campos con <span class="requerido">*</span> son obligatorios
                                                    </td>
                                                </tr>
                                                <tr class="linea_blanca">
                                                    <td>
                                                        Título de la actividad<span class="requerido">*</span>
                                                    </td>
                                                    <td style="width:34%">
                                                        <input size="50" name="titulo" id="titulo" type="text" value="" class="campoFormulario" maxlength="80" autocomplete="off">
                                                    </td>
                                                </tr>
                                                <tr class="linea_gris">
                                                    <td>
                                                        Código de la actividad<span class="requerido">*</span>
                                                    </td>
                                                    <td>
                                                        <input size="20" name="codigo_actividad" id="codigo_actividad" type="text" value="" class="campoFormulario" maxlength="40" autocomplete="off">
                                                        Asignatura<span class="requerido">*</span>
                                                        <input size="20" name="asignatura" type="text" id="asignatura" value="" maxlength="50" class="campoFormulario" autocomplete="off">
                                                    </td>
                                                </tr>
                                                    <td colspan="2" rowspan="5" id="textObservacion">
                                                        <table class="center_text" width="100%" border="0">
                                                            <tbody><tr>
                                                                <th scope="row">Instrucciones</th>
                                                                <th>Fecha <br><input type="datetime-local"></th>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">
                                                                    <textarea name="instrucciones" cols="40" rows="5" id="instrucciones" maxlength="4000"></textarea>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width:16%;">Tipo de actividad<span class="requerido">*</span>
                                                                    <input size="50" name="Tipo de actividad" id="tipo_actividad" type="text" value="" class="campoFormulario" maxlength="80" autocomplete="off">
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                             </tbody>
                         </table>
                        </center>
                    </div>
                   </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</form>
{% endblock %} 




