{% extends "navigator.html" %}
{% block form %} 
<form action="/actividad/detalle" method="POST" name="verActividad" id="verActividad" target="_self">
    {{ frm.hidden_tag() }}
    <input type="hidden" name="comercioMultiproducto" id="comercioMultiproducto" value="<?= $comercioMultiproducto ?>">
    <div align="center" id="interlocutorform">
        <div align="right">
            <div
                class="color_barra_titulos_marca<?php echo $marca; ?> color_titulos_marca<?php echo $marca; ?> pr_titulos">
                
            </div>
            <table class="tabla_main" width="670" id="AutoNumber3">
                <tbody><tr>
                    <td width="667" align="center" valign="top" bgcolor="#e2e2e2">
                        <div align="right">
                            <center>
                                <table width="700px" id="AutoNumber4"> <!--Este width estaba en 815px inicialmente-->
                                    <tbody><tr class="color_borde_marca1">
                                        <td colspan="4">
                                            <table width="100%" style="margin-bottom: 5px;" class="logosProductosComisionFija">
                                                <tbody><tr class="linea_gris">
                                                    <td colspan="8">
                                                    </td>
                                                </tr>
                                                <tr class="linea_gris">
                                                    <td colspan="8" style="padding: 2px; font-weight: 700; text-align: left;">
                                                        Todos los campos con <span class="requerido">*</span> son obligatorios
                                                    </td>
                                                </tr>
                                                <tr class="linea_gris">
                                                    <td style="width:34%">
                                                        {{ frm.id_actividad.label }}<span class="requerido">*</span>
                                                    
                                                        {{ frm.id_actividad }}
                                                        
                                                        {% for errors in frm.id_actividad.errors %}
                                                            <div>{{ error }}</div>
                                                        {% endfor %}
                                                        <!-- <select style="width: 200px; margin: 10px;" size="" name="id_actividad" id="id_actividad"  value="" class="campoFormulario" maxlength="40" autocomplete="off">
                                                        </select> -->
                                                    </td>
                                                    <td>
                                                        {{ frm.id_asignatura_fk.label }}

                                                        {{ frm.id_asignatura_fk }}

                                                        {% for errors in frm.id_asignatura_fk.errors %}
                                                            <div>{{ error }}</div>
                                                        {% endfor %}
                                                        <!-- <select style="width: 200px; margin: 10px;" size="" name="id_asignatura_fk" id="id_asignatura_fk" value="" maxlength="50" class="campoFormulario" autocomplete="off">
                                                        </select> -->
                                                    </td>
                                                </tr>
                                                    <td colspan="5" rowspan="5" id="textoDetalle">
                                                        <table width="100%" border="0">
                                                            <tbody><tr>
                                                                <th scope="row">{{ frm.instrucciones_actividad.label }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">
                                                                    {{ frm.instrucciones_actividad(rows="5", cols="45") }}
                                                                
                                                                    {% for errors in frm.instrucciones_actividad.errors %}
                                                                        <div>{{ error }}</div>
                                                                    {% endfor %}
                                                                    <!-- <textarea name="instrucciones_actividad" cols="50" rows="5" id="instrucciones_actividad" maxlength="6000"></textarea> -->
                                                                </th>
                                                            </tr>
                                                        </tbody></table>
                                        <table>
                                            <tr>
                                                <th style="width:16%;">
                                                    {{ frm.tipo_actividad.label }}
                                                    {{ frm.tipo_actividad }}    

                                                    {% for errors in frm.tipo_actividad.errors %}
                                                        <div>{{ error }}</div>
                                                    {% endfor %}
                                                </th>
                                                <th style="width:16%;">{{ frm.nombre_actividad.label }}
                                                    {{ frm.nombre_actividad }}

                                                    {% for errors in frm.nombre_actividad.errors %}
                                                        <div>{{ error }}</div>
                                                    {% endfor %}
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="width:16%;">{{ frm.fecha_actividad.label }} 
                                                    
                                                    <input size="20" name="fecha_actividad" id="fecha_actividad" type="text" value="" class="campoFormulario" maxlength="80" autocomplete="off"> 
                                                    
                                                </th>
                                                <!-- <td>
                                                    <input size="20" name="tipo_actividad" id="tipo_actividad" type="text" value="" class="campoFormulario" maxlength="80" autocomplete="off"> 
                                                </td>
                                                <td>
                                                    <input size="30" name="nombre_actividad" id="nombre_actividad" type="text" value="" class="campoFormulario" maxlength="100" autocomplete="off"> 
                                                </td> -->
                                        
                                            </tr>
                                            <td width="136">
                                                {{ frm.consultar(href="javascript:void(0)", class="btn btn-primary") }} 
                                            </td>
                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                             </tbody>
                         </table>
                        </center>
                    </div>
                   </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</form>
{% for msg in get_flashed_messages() %}
<div>
    {{ msg }}
</div>
{% endfor %}

{% endblock %} 