{% extends "navigator.html" %}
{% block form %} 
<form action="?opcion=interlocutor&a=guardar" method="post" name="form_interlocutor" id="form_interlocutor" target="_self">
    <input type="hidden" name="comercioMultiproducto" id="comercioMultiproducto" value="<?= $comercioMultiproducto ?>">
    <div align="center" id="interlocutorform">
        <div align="right">
            <div
                class="color_barra_titulos_marca<?php echo $marca; ?> color_titulos_marca<?php echo $marca; ?> pr_titulos">
                
            </div>
            <table class="tabla_main" width="670" id="AutoNumber3">
                <tbody><tr>
                    <td width="667" align="center" valign="top" bgcolor="#e2e2e2">
                        <div align="right">
                            <center>
                                <table width="700px" id="AutoNumber4"> <!--Este width estaba en 815px inicialmente-->
                                    <tbody><tr class="color_borde_marca1">
                                        <td colspan="4">
                                            <table width="100%" style="margin-bottom: 5px;" class="logosProductosComisionFija">
                                                <tbody><tr class="linea_gris">
                                                    <td colspan="8">
                                                    </td>
                                                </tr>
                                                <tr class="linea_gris">
                                                    <td colspan="8" style="padding: 2px; font-weight: 700; text-align: left;">
                                                        Todos los campos con <span class="requerido">*</span> son obligatorios
                                                    </td>
                                                </tr>
                                                <tr class="linea_gris">
                                                    <td style="width:34%">
                                                        Código de la actividad<span class="requerido">*</span>
                                                        <select style="width: 200px; margin: 10px;" size="" name="codigo_actividad" id="codigo_actividad"  value="" class="campoFormulario" maxlength="40" autocomplete="off">
                                                        </select>
                                                    </td>
                                                    <td>
                                                        Asignatura<span class="requerido">*</span>
                                                        <select style="width: 200px; margin: 10px;" size="" name="asignatura" id="asignatura" value="" maxlength="50" class="campoFormulario" autocomplete="off">
                                                        </select>
                                                    </td>
                                                </tr>
                                                    <td colspan="2" rowspan="5" id="textoDetalle">
                                                        <table class="text_center" width="100%" border="0">
                                                            <tbody><tr>
                                                                <th scope="row">Detalle</th>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">
                                                                    <textarea name="detalle_actividad" cols="50" rows="5" id="detalle_actividad" maxlength="6000"></textarea>
                                                                </th>
                                                            </tr>
                                                        </tbody></table>
                                        <table>
                                            <tr style="text-align: center;">
                                                <th style="width:16%;">Tipo de actividad<span class="requerido">*</span>
                                                </th>
                                                <th style="width:16%;">Título de la actividad<span class="requerido">*</span>
                                                </th>
                                                <th style="width:16%;">Fecha<span class="requerido">*</span>
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input size="20" name="tipo_actividad" id="tipo_actividad" type="text" value="" class="campoFormulario" maxlength="80" autocomplete="off"> 
                                                </td>
                                                <td>
                                                    <input size="30" name="titulo_actividad" id="titulo_actividad" type="text" value="" class="campoFormulario" maxlength="100" autocomplete="off"> 
                                                </td>
                                                <td>
                                                    <input size="20" name="fecha_actividad" id="fecha_actividad" type="text" value="" class="campoFormulario" maxlength="80" autocomplete="off"> 
                                                </td>
                                                </tr>
                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                             </tbody>
                         </table>
                        </center>
                    </div>
                   </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</form>


{% endblock %} 