<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Universidad del Tolima</title>
	    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
	</head>
	<body>
	    <header class="site-header inicio">
	        <div class="contenedor header_down">
                <a href="index.html">
					<img src="{{ url_for('static',filename='img/logobg.png') }}" alt="logo">
                </a> 
	        </div>
	    </header>
		<div class="imagen-body">
			<h2 class="titulo-contenedor">SISTEMA DE GESTIÓN Y ADMINISTRACIÓN ACADÉMICO</h2>
			<div id="login">
				<h3 class="text-center text-white pt-5">Login form</h3>
				<div class="container">
					<div id="login-row" class="row justify-content-center align-items-center">
						<div id="login-column" class="col-md-6">
							<div id="login-box" class="col-md-12">

<!----------------------------Se hacen cambios en el form para coordinar con rutas de ingreso y salida-------------------------------------------------------->
								
								<!--<form id="login-form" class="form" action="/login" method="POST"> <!--Pagina de ingreso con el metodo POST-->
									
									 <!--Esto es agregado en proceso de rutas {{ csrf_token }}

									<h3 class="text-center text-info">Ingreso al Sistema</h3>
									<div class="form-group">
										<label for="username" class="text-info">Usuario:</label><br>
										<input type="text" name="username" id="username" class="form-control">
									</div>
									<div class="form-group">
										<label for="password" class="text-info">contraseña:</label><br>
										<input type="password" name="password" id="password" class="form-control">
									</div>


									<div class="form-group">
										<input type="submit" name="submit" class="btn btn-info btn-md" value="Ingresar">
									</div>


									<div id="register-link" class="text-right">
									</div>
								</form>-->
								<p>

								</p>
								<div align="center">
									<p><span style="color: #133392;"><em>{{ estado }}</em></span></p>
								</div>
								
								<form id="login-form" class="form" action="" method="POST">
								{{ frm.hidden_tag() }}
								
								<div align="left">
									<h4>
										<p>
									<strong>
										{{ frm.username.label }}
									</strong>

								
									
									
									{{ frm.username }}
									{% for error in frm.username.errors %}
									<div>
										{{ error }}
									</div>
									{% endfor %}
								</p>
							</h4>
							<br>
							<h4>
								<p>
										<strong>
											{{ frm.password.label }}
										</strong>
									
									
									{{ frm.password }}
									{% for error in frm.password.errors %}
									<div>
										{{ error }}
									</div>
									{% endfor %}
								</p>
							</h4>
								</div>
								
								
								<p>
									<h4>
										{{ frm.entrar (style="background-color: #3194ad;border-color:#3194ad; color: cornsilk; border-radius:0.25em; float: right") }}
									</h4>
								</p>
								

									
								
								<!-- (href="javascript:void(0)", class="btn btn-primary") -->
								
								
								
							
							</form>
							
<!----------------------------Se hacen cambios en el form para coordinar con rutas de ingreso y salida-------------------------------------------------------->
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	</body>
	<footer class="site-footer inicio">
		<div class="contenedor footer_down">
			<h5 class="footer-titulo">www.universidaddeltolima.com</h2>
			<h5 class="footer-titulo">Cra 10 # 20-30</h2>
			<h5 class="footer-titulo">Pbx: (8) 3341234</h2>
			<h5 class="footer-titulo">Todos los derechos resrvados &copy;</h2>
		</div>
	</footer>
</html>