{% extends "navigator.html" %}


{% block form %}
<form action="" method="POST">
    {{ frm.hidden_tag() }}
    <div align="center" id="interlocutorform">
        <div align="right">
            <div
                class="color_barra_titulos_marca<?php echo $marca; ?> color_titulos_marca<?php echo $marca; ?> pr_titulos">
                
            </div>
            <table class="tabla_main" width="670" id="AutoNumber3">
                <tbody><tr>
                    <td width="667" align="center" valign="top" bgcolor="#e2e2e2">
                        <div align="right">
                            <center>
                                <table width="815px" id="AutoNumber4">
                                    <tbody><tr class="color_borde_marca1">
                                        <td colspan="4">
                                            <table width="100%" style="margin-bottom: 5px;" class="logosProductosComisionFija">
                                                <tbody><tr class="linea_gris">
                                                    <td colspan="8">
                                                        <div class="color_barra_titulos_marca1 color_titulos_marca1 pr_titulos">
                                                            INGRESO NOTAS ACTIVIDADES
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="linea_gris">
                                                    <td colspan="8" style="padding: 2px; font-weight: 700; text-align: left;">
                                                        Todos los campos con <span class="requerido">*</span> son obligatorios
                                                    </td>
                                                </tr>
                                                <tr class="linea_blanca">
                                                    <!--<td style="width:16%;">
                                                        Estudiante<span class="requerido">*</span>
                                                    </td>
                                                    <td style="width:34%">
                                                        <select name="interlocutor[estudiante]" id="estudiante" type="text" value="" class="campoFormulario" maxlength="30" autocomplete="off">
                                                            <option value="1">Carlos</option>
                                                            <option value="2" selected="">Mario</option>
                                                            <option value="3" selected="">Julian</option>
                                                            <option value="4" selected="">Amaury</option>
                                                            <option value="5" selected="">Daniel</option>							
                                                        </select>	
                                                    </td>-->
                                                    <td style="width:16%;">
                                                        {{ frm.estudiante.label }}
                                                    </td>
                                                    <td style="width:34%">
                                                        {{ frm.estudiante(class="campoFormulario", maxlength="30", autocomplete="off", placeholder="Ingrese ID de estudiante") }}
                                                    </td>
                                                        {% for error in frm.estudiante.errors %}
                                                        <div>
                                                            {{ error }}
                                                        </div>
                                                        {% endfor %}
                                                    <!--<td style="width:10%">
                                                        Asignatura<span class="requerido">*</span>
                                                    </td> 
                                                    <td style="width:40%">
                                                        <select name="interlocutor[asignatura]" type="text" id="asignatura" value="" class="campoFormulario" maxlength="49" autocomplete="off">
                                                            <option value="1">-FU-Fundamentos de Programación</option>
                                                            <option value="2" selected="">-PB-Programacion Basica</option>
                                                            <option value="3" selected="">-DS-Desarrollo de Software</option>
                                                    </td>-->
                                                    <td style="width:10%">
                                                        {{ frm.actividad.label }}
                                                    </td>
                                                    <td style="width:40%">
                                                        {{ frm.actividad(size="20", class="campoFormulario", maxlength="100", placeholder="Ingrese ID actividad") }}
                                                    </td>
                                                        {% for error in frm.actividad.errors %}
                                                        <div>
                                                            {{ error }}
                                                        </div>
                                                        {% endfor %}
                                                </tr>
                                                <tr class="linea_gris">
                                                    <!--<td>
                                                        Código actividad<span class="requerido">*</span>
                                                    <td>
                                                        <strong>
                                                            <select name="interlocutor[cod_actidad]" size="1" id="cod_actividad" class="campoFormulario">
                                                                <option value="1">1-Algoritmos</option>
                                                                <option value="2" selected="">2-Condicionales</option>
                                                                <option value="3" selected="">3-Ciclos</option>
                                                                <option value="4" selected="">4-Bases de Datos</option>
                                                                <option value="4" selected="">5-Desarrollo de Apps/Web</option>
                                                                <option value="4" selected="">6-Proyecto Full Stack</option>
                                                            </select>
                                                        </strong>
                                                    </td>-->
                                                    <td>
                                                        {{ frm.codigo.label }}
                                                    <td>                                               
                                                        {{ frm.codigo( id="cod_actividad", class="campoFormulario", placeholder="Ingrese ID de asignatura") }}
                                                    </td>
                                                        {% for error in frm.codigo.errors %}
                                                        <div>
                                                            {{ error }}
                                                        </div>
                                                        {% endfor %}
                                                    </td>
                                                    <!--<td>
                                                        Tipo Nota<span class="requerido">*</span>
                                                    </td>
                                                    <td>
                                                        <strong>
                                                            <div align="left">
                                                                <select name="interlocutor[tipo_nota]" type="text" size="1" id="tipo_nota" value="" maxlength="5" class="campoFormulario" autocomplete="off">
                                                                    <option value="1">01-Nota</option>
                                                                    <option value="2" selected="">02-Nivelación</option>
                                                                    <option value="3" selected="">03-Trabajo Escrito</option>
                                                                    <option value="4" selected="">04-Supletorio</option>
                                                                </select>
                                                            </div>	
                                                        </strong>	
                                                    </td>-->
                                                    <td>
                                                        {{ frm.tipo.label }}
                                                    </td>
                                                    <td>
                                                        <div>
                                                            {{ frm.tipo(size="1", maxlength="5", class="campoFormulario", autocomplete="off") }}
                                                        </div>
                                                        
                                                    </td>
                                                        {% for error in frm.tipo.errors %}
                                                        <div>
                                                            {{ error }}
                                                        </div>
                                                        {% endfor %}
                                                </tr>
                                                
                                                <tr class="linea_gris">
                                                    <!--<td>
                                                        Tipo Actividad<span class="requerido">*</span>
                                                    </td>
                                                    <td colspan="3">
                                                        <input name="interlocutor[tipo_actividad]" type="text" size="70" id="tipo_actividad" class="campoFormulario" title="tipo de actividad" maxlength="100" placeholder="Ejemplo: Indica en que consiste la actividad">
                                                    </td>
                                                    <td>
                                                        {# frm.actividad.label #}
                                                    </td>
                                                    <td>
                                                        {# frm.actividad(size="20", class="campoFormulario", maxlength="100", placeholder="Ingrese ID actividad") #}
                                                    </td>
                                                        {# for error in frm.actividad.errors #}
                                                        <div>
                                                            {# error #}
                                                        </div>
                                                        {# endfor #}
                                                    </td>
                                                    <td >
                                                        {# frm.info.label #}
                                                    </td>
                                                    <td>
                                                        {# frm.info(size="20", class="campoFormulario", maxlength="100") #}
                                                    </td>
                                                        {# for error in frm.info.errors #}
                                                        <div>
                                                            {# error #}
                                                        </div>
                                                        {# endfor #}-->
                                                    
                                                    
                                                </tr>

                                                    <td width="136" class="date">Fecha de Entrega</td> <!--adicioné class="date"-->
                                                    <td> 
                                                        <strong>
                                                            <input name="fecha_entrega" size="1" id="fecha_entrega" type="datetime-local">
                                                        </strong>
                                                    </td>
                                                    <!-- desplegar nota
                                                    <td>
                                                        Nota Actividad
                                                    </td>
                                                    <td>
                                                        <div align="left">
                                                            <input name="interlocutor[nota_actividad]" type="text" id="nota_actividad" value="" maxlength="5" class="campoFormulario" autocomplete="off">
                                                        </div>
                                                    </td>-->
                                                    <td >
                                                        {{ frm.nota.label }}
                                                    </td>
                                                    <td>
                                                        {{ frm.nota(id="nota_actividad", value="", maxlength="5", class="campoFormulario") }}
                                                    </td>
                                                        {% for error in frm.nota.errors %}
                                                        <div>
                                                            {{ error }}
                                                        </div>
                                                        {% endfor %}
                                                    <td>
                                                </tr>
                                                <tr class="linea_blanca"> 
                                                    <td width="136">
                                                        {{ frm.ingresar(href="javascript:void(0)", class="btn btn-primary") }} 
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </center>
                    </div>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</form>
{% for msg in get_flashed_messages() %}
        <div>
            {{ msg }}
        </div>
    {% endfor %} 
{% endblock %}