{% extends "navigator.html" %}


{% block form %}
<p>
    <H3>
        <center><p> <span style="background-color:blue; color: #fff; display: inline-block; padding: 5px 200px; font-weight: bold; border-radius: 5px;" >    MI INFORMACION PERSONAL   </span></p></center>
    </H3>
</p>
<br>

<br>
<center>
<div style="align-content: center;">
    <table style="height: 78px; width: 100%; border-collapse: collapse; margin-left: auto; margin-right: auto;" border="0">
        <tbody>
        <tr style="height: 18px;">
        <td style="width: 6.09162%; height: 18px;">
        <h5>👤</h5>
        </td>
        <td style="width: 37%; height: 18px;">
        <h5>{{ UserName }}</h5>
        </td>
        <td style="width: 7.26121%; height: 18px;">
        <h5>💷</h5>
        </td>
        <td style="width: 37%; height: 18px;">
        <h5>{{ tipo_documento }}</h5>
        </td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 6.09162%; height: 18px;">
        <h5>👁&zwj;🗨</h5>
        </td>
        <td style="width: 37%; height: 18px;">
        <h5>{{ TypeUser }}</h5>
        </td>
        <td style="width: 7.26121%; height: 18px;">
        <h5>💳</h5>
        </td>
        <td style="width: 37%; height: 18px;">
        <h5>{{ documento }}</h5>
        </td>
        </tr>
        <tr style="height: 12px;">
        <td style="width: 6.09162%; height: 12px;">
        <h5>📲</h5>
        </td>
        <td style="width: 37%; height: 12px;">
        <h5>{{ celular }}</h5>
        </td>
        <td style="width: 7.26121%; height: 12px;">
        <h5>📧&nbsp;</h5>
        </td>
        <td style="width: 37%; height: 12px;">
        <h5>{{ correo }}</h5>
        </td>
        </tr>
        <tr style="height: 12px;">
        <td style="width: 6.09162%; height: 12px;">&nbsp;</td>
        <td style="width: 37%; height: 12px;">&nbsp;</td>
        <td style="width: 7.26121%; height: 12px;">
        <h5>🌎</h5>
        </td>
        <td style="width: 37%; height: 12px;">
        <h5>{{ ciudad }}</h5>
        </td>
        </tr>
        <tr style="height: 18px;">
        <td style="width: 6.09162%; height: 18px;">&nbsp;</td>
        <td style="width: 37%; height: 18px;">&nbsp;</td>
        <td style="width: 7.26121%; height: 18px;">
      
        </td>
        <td style="width: 37%; height: 18px;">&nbsp;</td>
    
      
        </tr>
        </tbody>
        </table>
        <p align="right"> 
            <a href="/misdatos/password" class="btn btn-primary">Actualizar contraseña 🔑</a> <!--indicar la ruta para ver los datos-->
          </p>
    
</div>
</center>


{% endblock %}
