{% extends "navigator.html" %}


{% block form %}

<center><p> <span style="background-color:blue; color: #fff; display: inline-block; padding: 5px 200px; font-weight: bold; border-radius: 5px;" >    RETROALIMENTAR ACTIVIDADES    </span></p></center>

                        
                        <form action="">
                             
                            <table style="height: 29px; width: 100%; border-collapse: collapse; margin-left: auto; margin-right: auto;" border="0" cellpadding="5">
                                <tbody>
                                <tr style="height: 15px;">
                                <td style="width: 25%; height: 12px;">
                                
                                    <label for="materia">Materia: </label>
                                    <select name="" id="">
                                        <option>Fundamentos de Programacion</option>
                                        <option>Programacion Basica</option>
                                        <option>Desarrollo de Software</option>
                                    </select>
                                
                                </td>
                                
                                <td style="width: 27.1442%; height: 12px;">
                                
                                    <label for="actividad">Actividad: </label>
                                    <select name="" id="">
                                    <option>-1- Algoritmos</option>
                                    <option>-2- Condicionales</option>
                                    <option>-3- Ciclos</option>
                                    <option>-4- Bases de datos</option>
                                    <option>-5- Desarrollo de Apps/Web</option>
                                    <option>-6- Proyecto Full Stack</option>
                                </select>

                                </td>
                               
                                </tr>
                                <tr style="height: px;">
                                <td style="width: 25%; height: 15px;">
                                    
                                    <label for="actividad">Estudiante: </label>
                                    <select name="" id="">
                                    <option>Carlos</option>
                                    <option>Mario</option>
                                    <option>Julian</option>
                                    <option>Amaury</option>
                                    <option>Daniel</option>
                                </select>
                                </td>
                                <td style="width: 25%; height: 15px;">

                                <input type="button" value="Buscar">

                                </td>
                                  </tr>
                                </tbody>
                                </table>

                                <p>&nbsp;</p>
                                <table style="height: 134px; width: 90%; border-collapse: collapse; border-style: solid;" border="1">
                                    <tbody>
                                    <tr style="height: 18px;">
                                    <td style="width: 100%; height: 18px; text-align: center;">Insertar retroalimentacion</td>
                                    </tr>
                                    <tr style="height: 90px;">
                                    <td style="width: 100%; height: 90px;">
                                    
                                        <p align="center"><textarea   name="" id="" cols="90" rows="8"></textarea>
                                        
                                        .
                                    
                                    
                                    </p>
                                        

                                    

                                    </td>
                                    </tr>
                                    </tbody>
                                </table>   
                            <p align="right">
                                <input type="button" value="Guardar">
                            </p> 
                            
                            
                        </form>

{% endblock %}