<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Universidad del Tolima</title>
	    <!--
        <link rel="stylesheet" href="css/general.css">
		<link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	    <link rel="stylesheet" href="css/normailize.css">
	    <link rel="preconnect" href="https://fonts.gstatic.com">
	    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/bootstrap2.css">
	    -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/generales.css') }}">
		
	</head>
	<body style="background-color: #aaa;">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
        
		<div class="container-fluid p-2 bg-light text-center">
            <a href="index.html">
			    <img src="{{ url_for('static',filename='img/logobg.png') }}" alt="logo">
            </a>
		</div>

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #aaa;">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown m-2" style="background-color: grey;">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Notas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/notas/visualizar">Ver notas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown m-2" style="background-color: grey;">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Docentes
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Ver docente</a></li>
                                <!--<li><a class="dropdown-item" href="/registro">Registrar docente</a></li>
                                <li><a class="dropdown-item" href="#">Editar docente</a></li>
                                <li><a class="dropdown-item" href="#">Eliminar docente</a></li>-->
                            </ul>
                        </li>
                        <li class="nav-item dropdown m-2" style="background-color: grey;">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Estudiantes
                            </a>
                            <!--<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Ver estudiante</a></li>
                                <li><a class="dropdown-item" href="/registro">Registrar estudiante</a></li>
                                <li><a class="dropdown-item" href="#">Editar estudiante</a></li>
                                <li><a class="dropdown-item" href="#">Eliminar estudiante</a></li>
                            </ul>-->
                        </li>
                        <li class="nav-item dropdown m-2" style="background-color: grey;">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Actividades
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/actividad/detalle">Ver actividades</a></li>
                                <!--<li><a class="dropdown-item" href="/actividad">Registrar actividades</a></li>
                                <li><a class="dropdown-item" href="/notas/ingresar">Calificar actividades</a></li>
                                <li><a class="dropdown-item" href="/feedback/docente">Retroalimentar actividades</a></li>
                                <li><a class="dropdown-item" href="#">Comentarios</a></li>-->
                            </ul>
                        </li>
                        <li class="nav-item dropdown m-2" style="background-color: grey;">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Asignaturas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Ver asignatura</a></li>
                                <!--<li><a class="dropdown-item" href="#">Registrar asignatura</a></li>
                                <li><a class="dropdown-item" href="#">Editar asignatura</a></li>
                                <li><a class="dropdown-item" href="#">Eliminar asignatura</a></li>-->
                            </ul>
                        </li>
                        <li class="nav-item m-2" style="background-color: grey;">
                            <a class="nav-link active" aria-current="page" href="/buscador/docente">Buscar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row" >
                <div class="col-izquierda" style="background-color: #e2e2e2;">
                    <div class="well well-sm">
                        
                            <!-- AQUI INGRESE  -->

                        <center><p> <span style="background-color:blue; color: #fff; display: inline-block; padding: 5px 200px; font-weight: bold; border-radius: 5px;" >    RETROALIMENTACIONES DE ACTIVIDADES    </span></p></center>

                        
                        <form action="">
                             
                            <table style="height: 29px; width: 100%; border-collapse: collapse; margin-left: auto; margin-right: auto;" border="0" cellpadding="5">
                                <tbody>
                                <tr style="height: 15px;">
                                <td style="width: 25%; height: 12px;">
                                
                                    <label for="materia">Asignatura: </label>
                                    <select name="" id="">
                                        <option>-FU-Fundamentos de Programacion</option>
                                        <option>-PB-Programacion Basica</option>
                                        <option>-DS-Desarrollo de Software</option>
                                    </select>
                                
                                    <input type="button" value="Ver">
                                </td>
                                
                                <p align="center">
                                    <table border="1" style="height: 127px; width: 98.0656%; border-collapse: collapse; margin-left: auto; margin-right: auto; border-style: solid;">
                                        <tbody>
                                        <tr  style="height: 18px;">
                                        <th style="width: 31.2%; height: 18px; background-color: #87bcde; vertical-align: middle;"><strong>Actividad</strong></th>
                                        <td style="width: 66.8672%; height: 18px; background-color: #87bcde; vertical-align: middle;"><strong>Retroalimentacion&nbsp;</strong></td>
                                        </tr>
                                        <tr style="height: 18px">
                                        <td style="width: 31.2%; height: 18px;">-1- Algoritmos</td>
                                        <td style="width: 66.8672%; height: 18px;">cumplio con los requisitos</td>
                                        </tr>
                                        <tr style="height: 18px">
                                        <td style="width: 31.2%; height: 18px;">-2- Condicionales</td>
                                        <td style="width: 66.8672%; height: 18px;">mejorar nota practicando</td>
                                        </tr>
                                        <tr style="height: 19px">
                                        <td style="width: 31.2%; height: 19px;">-3- Ciclos</td>
                                        <td style="width: 66.8672%; height: 19px;">cumplio con los requisitos</td>
                                        </tr>
                                        <tr style="height: 18px">
                                        <td style="width: 31.2%; height: 18px;">-4- Bases de Datos</td>
                                        <td style="width: 66.8672%; height: 18px;">excelente cumplimiento</td>
                                        </tr>
                                        <tr style="height: 18px">
                                        <td style="width: 31.2%; height: 18px;">-5- Desarrollo de Apps/Web</td>
                                        <td style="width: 66.8672%; height: 18px;">retroalimentacion</td>
                                        </tr>
                                        <tr style="height: 18px">
                                        <td style="width: 31.2%; height: 18px;">-6- Proyecto Full Stack</td>
                                        <td style="width: 66.8672%; height: 18px;">retroalimentacion</td>
                                        </tr>
                                        </tbody>
                                        </table>
                                </p>
                                </td>
                                </tr>   
                                </tbody>
                                </table>
                        </form>
                    </div>
                </div>
                <div class="col-derecha">
                    <div class="card" style="width:20rem;margin:20px 0 24px 0">
                        <img class="card-img-top" src="{{ url_for('static',filename='img/usuario.jpg') }}" alt="Usuario" style="width:100%">
                        <div class="card-body">
                          <h4 class="card-title">Juanito Alimaña</h4>
                          <p class="card-text">Perfil: Estudiante</p>
                          <a href="javascript:void(0)" class="btn btn-primary">Mis datos</a>
                          
                        <!--Cierre sesion-->
                        <form action="/logout" method="POST">
                            {{ csrf_token }}
                            <div class="btn btn-primary" style="text-align: center;">
                                <input type="submit" name="" value="Cerrar sesión">
                            </div>
                        </form>

                        <!--  <a href="javascript:void(0)" class="btn btn-primary">Cerrar sesión</a>
                        -->
                        
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <br><br>
		<footer class="bg-dark text-center text-white">
            <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
                    <p>
                    www.universidaddeltolima.com
                    <br>
                    Cra 10 # 20-30
                    <br>
                    Pbx: (8) 3341234
                    <br>
                    Todos los derechos reservados ©
                </p>
            </div>
        </footer>
    
	</body>
</html>