{% extends "navigator.html" %}


{% block form %}
<p>
    <h4>
        <center><p> <span style="background-color:blue; color: #fff; display: inline-block; padding: 5px 200px; font-weight: bold; border-radius: 5px;" >    ACTUALIZACION DE CONTRASEÑAS   </span></p></center>
    </h4>
</p>
<form action="/misdatos/password" method="post">
    {{ frm.hidden_tag() }}
<div></div>
<table border="0" style="border-collapse: collapse; width: 88.6281%; height: 103px;">
<tbody>
<tr style="height: 18px;">
<td style="width: 30%; height: 18px;"> 
   <strong>{{ frm.password.label }}</strong> 
</td>
<td style="width: 40%; height: 18px;">{{ frm.password }}

{% for error in frm.password.errors %}
    <div>
        {{ error }}
    </div>
    {% endfor %}

</td>
</tr>
<tr style="height: 10px;">
<td style="width: 30%; height: 10px;"></td>
<td style="width: 40%; height: 10px;"></td>
</tr>
<tr style="height: 18px;">
<td style="width: 30%; height: 18px;">
    <strong>
        {{ frm.passwordNew1.label }}
    </strong>
<td style="width: 40%; height: 18px;">
    {{ frm.passwordNew1 }}

{% for error in frm.passwordNew1.errors %}
    <div>
        {{ error }}
    </div>
    {% endfor %}
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 30%; height: 10px;"></td>
<td style="width: 40%; height: 10px;"></td>
</tr>
<tr style="height: 18px;">
<td style="width: 30%; height: 18px;">
    <strong>
        {{ frm.passwordNew2.label }}
    </strong>
</td>
<td style="width: 40%; height: 18px;">{{ frm.passwordNew2 }}
    {% for error in frm.passwordNew2.errors %}
    <div>
        {{ error }}
    </div>
    {% endfor %}
</td>
</tr>
<tr style="height: 18px;">
<td style="width: 30%; height: 11px;"></td>
<td style="width: 40%; height: 11px;"></td>
</tr>
<tr style="height: 18px;">
<td style="width: 30%; height: 18px;"></td>
<td style="width: 40%; height: 18px;">{{ frm.actualizar(href="javascript:void(0)", class="btn btn-primary") }}</td>
</tr>
</tbody>
</table>
</form>

{% for msg in get_flashed_messages() %}
        <div>
            {{ msg }}
        </div>
{% endfor %}

{% endblock %}
