<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Universidad del Tolima</title>
	    <!--
        <link rel="stylesheet" href="css/general.css">
		<link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	    <link rel="stylesheet" href="css/normailize.css">
	    <link rel="preconnect" href="https://fonts.gstatic.com">
	    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/bootstrap2.css">
	    -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/generales.css') }}">
		
	</head>
	<body style="background-color: #aaa;">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
        
		<div class="container-fluid p-2 bg-light text-center">
            <a href="index.html">
			    <img src="{{ url_for('static',filename='img/logobg.png') }}" alt="logo">
            </a>
		</div>

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #aaa;">
           
        </nav>

        <div class="container">
            <div class="row" >
                <div class="col-izquierda" style="background-color: #e2e2e2;">
                    <div class="well well-sm">
                        
                            <!-- AQUI INGRESE  -->

                        <center><p> <span style="background-color:blue; color: #fff; display: inline-block; padding: 5px 200px; font-weight: bold; border-radius: 5px;" >    CALIFICACIONES   </span></p></center>
                        
                        
                        <form action="">
                             
                            <table style="height: 29px; width: 100%; border-collapse: collapse; margin-left: auto; margin-right: auto;" border="0" cellpadding="5">
                                <tbody>
                                <tr style="height: 15px;">
                                <td style="width: 25%; height: 12px;">
                                
                                    <label for="materia">Asignatura: </label>
                                    <select name="" id="">
                                        <option>-FU-Fundamentos de Programacion</option>
                                        <option>-PB-Programacion Basica</option>
                                        <option>-DS-Desarrollo de Software</option>
                                    </select>
                                
                                    <input type="button" value="Consultar">
                                    <p> </p>
                                </td>
                                <p>
                                    
                                </p>
                                

                                <table width="336" style="width: 378px; margin-left: auto; margin-right: auto; height: 184px;">
                                    <thead>
                                    <tr style="background-color: #6df771; text-align: center; border: black;">
                                    <td style="width: 58.6094px; height: 50px;"><strong>Corte</strong></td>
                                    <td style="width: 91.8281px; height: 50px;"><strong>Ponderacion</strong></td>
                                    <td style="width: 101.219px; height: 50px;"><strong>Nota</strong></td>
                                    <td style="width: 98.3438px; height: 50px;"><strong>Nota Ponderada</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr style="height: 27px;">
                                    <td style="width: 58.6094px; text-align: center; height: 27px;">1</td>
                                    <td style="width: 91.8281px; text-align: center; height: 27px;">30%</td>
                                    <td style="width: 101.219px; text-align: center; height: 27px;">5,0</td>
                                    <td style="width: 98.3438px; text-align: center; height: 27px;">1,50 (n*p)</td>
                                    </tr>
                                    <tr style="height: 25px;background-color: #ADFFB0;">
                                    <td style="width: 58.6094px; text-align: center; height: 25px;">2</td>
                                    <td style="width: 91.8281px; text-align: center; height: 25px;">40%</td>
                                    <td style="width: 101.219px; text-align: center; height: 25px;">5,0</td>
                                    <td style="width: 98.3438px; text-align: center; height: 25px;">2,00</td>
                                    </tr>
                                    <tr style="height: 18px;">
                                    <td style="width: 58.6094px; text-align: center; height: 18px;">3</td>
                                    <td style="width: 91.8281px; text-align: center; height: 18px;">30%</td>
                                    <td style="width: 101.219px; text-align: center; height: 18px;">5,0</td>
                                    <td style="width: 98.3438px; text-align: center; height: 18px;">1,50</td>
                                    </tr>
                                    </tbody>
                                    </table>


                                <p>
                                    <p style="text-align: center;" >&nbsp;<strong>NOTA FINAL:</strong> 
                                    
                                    <input type="text" placeholder="x,00"></p>
                                </p>
                                
                                    
                                      

                                </td>
                               
                                </tr>
                               
                                </tbody>
                                </table>

                               
                                        

                                    

                               
                            
                            
                        </form>


                        

                    </div>
                </div>
                <div class="col-derecha">
                    <div class="card" style="width:20rem;margin:20px 0 24px 0">
                        <img class="card-img-top" src="{{ url_for('static',filename='img/usuario.jpg') }}" alt="Usuario" style="width:100%">
                        <div class="card-body">
                          <h4 class="card-title">Juanito Alimaña</h4>
                          <p class="card-text">Perfil: Estudiante</p>
                          <a href="javascript:void(0)" class="btn btn-primary">Mis datos</a>
                          
                        <!--Cierre sesion-->
                        <form action="/logout" method="POST">
                            {{ csrf_token }}
                            <div class="btn btn-primary" style="text-align: center;">
                                <input type="submit" name="" value="Cerrar sesión">
                            </div>
                        </form>

                        <!--  <a href="javascript:void(0)" class="btn btn-primary">Cerrar sesión</a>
                        -->

                        </div>
                      </div>
                </div>
            </div>
        </div>
        <br><br>
		<footer class="bg-dark text-center text-white">
            <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
                    <p>
                    www.universidaddeltolima.com
                    <br>
                    Cra 10 # 20-30
                    <br>
                    Pbx: (8) 3341234
                    <br>
                    Todos los derechos reservados ©
                </p>
            </div>
        </footer>
    
	</body>
</html>