{% extends "navigator.html" %}

{% block form %} 
<center><p> <span style="background-color:blue; color: #fff; display: inline-block; padding: 5px 200px; font-weight: bold; border-radius: 5px;" >    CALIFICACIONES   </span></p></center>
                        
                        
                        <form action="/notas/visualizar/docente" method="POST" name="notasVisualizarDoc" id="notasViDoc" target="_self">
                            {{ frm.hidden_tag() }}
                            <table style="height: 29px; width: 100%; border-collapse: collapse; margin-left: auto; margin-right: auto;" border="0" cellpadding="5">
                                <tbody>
                                <tr style="height: 15px;">
                                <td style="width: 25%; height: 12px;">

                                    <label for="materia">
                                        Estudiante
                                    </label>
                                    {{ frm.estudiantes(placeholder="Ingrese ID de Estudiante") }}
                                    {% for error in frm.estudiantes.errors %}
                                    <div>
                                        {{ error }}
                                    </div>
                                    {% endfor %}



                                    {{ frm.consultarEstudiante(href="javascript:void(0)", class="btn btn-primary", onclick="") }}
                                    
                                
                                    <!--<label for="materia">Asignatura: </label>
                                    <select name="" id="">
                                        <option>-FU-Fundamentos de Programacion</option>
                                        <option>-PB-Programacion Basica</option>
                                        <option>-DS-Desarrollo de Software</option>
                                    </select>
                                
                                    <input type="button" value="Consultar">-->
                                    <p> </p>
                                </td>
                                <p>
                                    
                                </p>
                                

                                <table width="336" style="width: 378px; margin-left: auto; margin-right: auto; height: 184px;">
                                    <thead>
                                    <tr style="background-color: #6df771; text-align: center; border: black;">
                                    <td style="width: 58.6094px; height: 50px;"><strong>Estudiante</strong></td>
                                    <td style="width: 91.8281px; height: 50px;"><strong>Corte</strong></td>
                                    <td style="width: 101.219px; height: 50px;"><strong>Actividad</strong></td>
                                    <td style="width: 98.3438px; height: 50px;"><strong>Nota</strong></td>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    <tr style="height: 27px;">
                                    <td style="width: 58.6094px; text-align: center; height: 27px;">
                                        {{ frm.estudiantes.label }}
                                    </td>
                                        {% for error in frm.estudiantes.errors %}
                                        <div>
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                    <td style="width: 91.8281px; text-align: center; height: 27px;">1</td>
                                    <td style="width: 101.219px; text-align: center; height: 27px;">
                                        {{ frm.a1(size="10") }}
                                    </td>
                                        {% for error in frm.a1.errors %}
                                        <div>
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                    <td style="width: 98.3438px; text-align: center; height: 27px;">
                                        {{ frm.n1(size="5") }}
                                    </td>
                                        {% for error in frm.n1.errors %}
                                        <div>
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                    </tr>

                                    <tr style="height: 25px;background-color: #ADFFB0;">
                                    <td style="width: 58.6094px; text-align: center; height: 25px;">
                                        {{ frm.estudiantes.label }}
                                    </td>
                                        {% for error in frm.estudiantes.errors %}
                                        <div>
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                    <td style="width: 91.8281px; text-align: center; height: 25px;">2</td>
                                    <td style="width: 101.219px; text-align: center; height: 25px;">
                                        {{ frm.a2(size="10") }}
                                    </td>
                                        {% for error in frm.a2.errors %}
                                        <div>
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                    <td style="width: 98.3438px; text-align: center; height: 25px;">
                                        {{ frm.n2(size="5") }}
                                    </td>
                                        {% for error in frm.n2.errors %}
                                        <div>
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                    </tr>
                                    
                                    <tr style="height: 18px;">
                                    <td style="width: 58.6094px; text-align: center; height: 18px;">
                                        {{ frm.estudiantes.label }}
                                    </td>
                                        {% for error in frm.estudiantes.errors %}
                                        <div>
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                    <td style="width: 91.8281px; text-align: center; height: 18px;">3</td>
                                    <td style="width: 101.219px; text-align: center; height: 18px;">
                                        {{ frm.a3(size="10") }}
                                    </td>
                                        {% for error in frm.a3.errors %}
                                        <div>
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                    <td style="width: 98.3438px; text-align: center; height: 18px;">
                                        {{ frm.n3(size="5") }}
                                    </td>
                                        {% for error in frm.n3.errors %}
                                        <div>
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                    </tr>
                                    </tbody>
                                    </table>


                                <p>
                                    <p style="text-align: center;" >&nbsp;<strong>NOTA FINAL:</strong> 
                                    
                                    <!--<input type="text" placeholder="x,00">-->
                                    {{ frm.notaFinal(type="text", placeholder="x,00") }}
                                </p>
                                </p>
                                
                                    
                                      

                                </td>
                               
                                </tr>
                               
                                </tbody>
                                </table>

                               
                                        

                                    

                               
                            
                            
                        </form>

{% for msg in get_flashed_messages() %}
<div>
    {{ msg }}
</div>
{% endfor %}


{% endblock %} 

